<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<main>
  <div class="jumbotron">
      <h1>This is great</h1>
      <p>This progam is used to save data inputted on the upload page and shows it on the about page. 
        The data is saved via AJAX and transfered via the session storage object. So long as you use this current browser, your data will be saved and utilized.
      </p>
  </div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>